- title 'Как выводить ошибки?'

p Основные

| <b>200</b> – OK
| <b>201</b> – Created
| <b>304</b> – Not Modified
| <b>400</b> – Bad Request
| <b>401</b> – Unauthorized
| <b>403</b> – Forbidden
| <b>404</b> – Not Found
| <b>422</b> – Unprocessable Entity
| <b>500</b> – Internal Server Error
