- title 'Как называть методы API?'

h1 Более интересные случаи

p Добавить в избранное

p Сейчас
br
pre: code = "POST /reports/:id/favorite"

p Лучше
br
pre: code = "POST /profile/favorites"

p Удалить из избранного

p Сейчас
br
pre: code = "POST /reports/:id/unfavorite"

p Лучше
br
pre: code = "DELETE /profile/favorites"
