- title 'Как делать пагинацию?'

p = link_to 'Cursor based pagination', 'http://www.sitepoint.com/paginating-real-time-data-cursor-based-pagination/', target: '_blank'

img src="https://monosnap.com/file/iTugNKu5Q00bSzENFxkfv5KX9WSm3s.png"
