- title 'Как делать пагинацию?'

p Простая пагинация

pre: code = escape("/posts?page=3&per_page=25").highlight(%w(per_page 3 page 25))
pre: code = escape("/posts?offset=50&limit=25").highlight(%w(offset 50 limit 25))
