- title 'Ссылки'

= link_to 'Designing REST + JSON APIs', 'https://stormpath.com/blog/designing-rest-json-apis/', target: '_blank'
br
= link_to 'What to Use as Identifiers (IDs) in REST APIs', 'http://toddfredrich.com/ids-in-rest-api.html', target: '_blank'
