- title 'API v0'

| Приложение для одной конференции

h1 Moco Forum 2014

= link_to 'moco-2014.confa.me', 'moco-2014.confa.me'
br
br
span.next На самом деле приложение тут #{link_to 'moco.ltst.su', 'moco.ltst.su'}
