- title 'Как писать документацию?'

= link_to 'Documentation Driven Development', 'http://collectiveidea.com/blog/archives/2014/04/21/on-documentation-driven-development/'
= link_to 'Readme Driven Development', 'http://tom.preston-werner.com/2010/08/23/readme-driven-development.html'

p Дисциплина
