- title 'Как провести нагрузочное тестирование API?'

= link_to 'wrk', 'https://github.com/wg/wrk', target: '_blank'
br
= link_to 'Yandex Tank', 'https://tech.yandex.ru/tank/', target: '_blank'
br
= link_to 'Apache Bench', 'http://httpd.apache.org/docs/2.2/programs/ab.html', target: '_blank'
br
= link_to 'siege', 'https://github.com/JoeDog/siege', target: '_blank'
br
= link_to 'Tsung', 'http://tsung.erlang-projects.org/', target: '_blank'
br
= link_to 'Boom', 'https://github.com/rakyll/boom', target: '_blank'
br
= link_to 'Gatling', 'http://gatling.io/#/', target: '_blank'
